<body>
    <!-- header small screens -->
    <div class="users-mobile hide-on-med-and-up">
        <nav>
            <div class="nav-wrapper nav-mobile">
                <a href="/users"><h3 class="logo-mobile col s12 center">What ales you?</h3></a>
            </div>
        </nav>


        <div class="row">

                <ul class="tabs row">
                    <li class="tab col s12"><a class="active tabs-headers" href="#mybeers">My Beers</a></li>
                </ul>



                <div class="row my-beer">
                    {{#if beers}}
                      <div class="beer-scroll-mobile">


                        <ol>
                            {{#each beers}}
                            <li class="beer-links">
                                <b>{{dateFormat date "dddd, MMMM Do YYYY"}} </b> <br>Name: {{name}} <br> ABV: {{safefloat abv}}<br> Brewery: {{brewery}}<br><b>Rating: {{beer_rating}}</b>
                            </li>
                            <br>
                            {{/each}}
                        </ol>
                      </div>
                    {{else}}
                      <div class="no-beers"
                        <p class="beer-links center">You have no beer ratings yet!</p>
                        <p class="beer-links center">Time to go to the pub!</p>
                      </div>
                    {{/if}}
                </div>

        </div>
    </div>


    <!-- header large screem -->
    <div class="hide-on-small-only row jumbo">

            <div class="row">
                <img src="img/arm-2-brown.svg" class="arm col s3 logo-arm-left left">
                <a href="/users"><h1 class="col s6 center logo-big">What ales you?</h1></a>
                <img src="img/arm-right-brown.svg" class="col s3 logo-arm-right right">
            </div>

            <div class="custom-tab row">
                <div class="col s12 tabs-regular">
                    <ul class="tabs row">
                        <li class="tab col s12"><a class="active tabs-headers-lrg" href="#mybeers2">My Beers</a></li>
                        <!-- <li class="tab col s4"><a class="tabs-headers-lrg" href="#mybrews2">My Breweries</a></li>
                        <li class="tab col s4"><a class="tabs-headers-lrg" href="#myfavs2">My Favs</a></li> -->
                    </ul>
                </div>

                <div id="mybeers2" class="row tab-main my-beer">
                    <div class="col s12">
                        <div class="row">
                            <div class="col s3 tabs-regular">
                                <h4>Beer Name</h4></div>
                            <div class="col s1  tabs-regular center">
                                <h4>ABV</h4></div>
                            <div class="col s2  tabs-regular center">
                                <h4>Rating</h4></div>
                            <div class="col s3  tabs-regular">
                                <h4>Brewery</h4></div>
                            <div class="col s3 tabs-regular">
                                <h4>Date</h4></div>
                        </div>
                        {{#if beers}}
                        <div class="beer-scroll">



                            {{#each beers}}
                                <div class="row">
                                    <div class="col s3 tabs-large">{{name}}</div>
                                    <div class="col s1  tabs-large center">{{safefloat abv}}</div>
                                    <div class="col s2  tabs-large center">{{beer_rating}}</div>
                                    <div class="col s3 tabs-large">{{brewery}}</div>
                                    <div class="col s3 tabs-large">{{dateFormat date "dddd, MMMM Do YYYY"}}</div>
                                </div>
                            {{/each}}
                        </div>

                        {{else}}
                            <p class="beer-links center">You have no beer ratings yet!</p>
                            <p class="beer-links center">Time to go to the pub!</p>
                        {{/if}}
                    </div>
                </div>


            </div>

    </div>
    <script>
    </script>
</body>
