<!-- list of breweriers near me -->
<div class="row">
<div class="container">
<div class="row">
  <div class="row">
    <a class="hide-on-small-only logo-bottle col l1 beer" href="/users"><img src="img/bottle.png"/></a>
    <a class="hide-on-med-and-up logo-bottle col s2 beer" href="/users"><img src="img/bottle.png"/></a>
    <a href="/users"><h4 class="hide-on-small-only big-scrn-header feature col l10">Breweries Near Me</h4></a>
    <a href="/users"><h4 class="hide-on-med-and-up sml-scrn-header feature col s9">Breweries Near Me</h4></a>
  </div>
</div>

<div id="map"></div>
<ul class="brews">
  {{#each brews}}
    <li><hr><a data-options='{"latitude":"{{this.latitude}}","longitude":"{{this.longitude}}"}'  href="/brewery/{{this.brewery.id}}/{{this.brewery.name}}/{{this.streetAddress}}/{{this.locality}}/{{this.region}}/{{this.postalCode}}/{{this.brewery.website}}/{{this.phone}}" class="beer-links">{{this.brewery.name}}</a></li>
  {{/each}}
</ul>

</div>

<script>
function initMap() {

  let locations = []

  $( "a.beer-links" ).each(function( index ) {
    locations.push([`<a href="${$(this).attr('href')}">${$(this).html()}</a>`, Number($(this).data("options").latitude), Number($(this).data("options").longitude), Number(index)])
  });

  console.log(locations);

	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 13,
		center: new google.maps.LatLng(Number(Cookies.get('latitude')), Number(Cookies.get('longitude'))),
		mapTypeId: google.maps.MapTypeId.ROADMAP
	});

	var infowindow = new google.maps.InfoWindow({});

  var bottle = {
    url: "img/bottle.png",
    scaledSize: new google.maps.Size(18*1.3, 62*1.3)
  }


	var marker, i;

	for (i = 0; i < locations.length; i++) {
		marker = new google.maps.Marker({
			position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      icon: bottle,
			map: map
		});

		google.maps.event.addListener(marker, 'click', (function (marker, i) {
			return function () {
				infowindow.setContent(locations[i][0]);
				infowindow.open(map, marker);
        map.panTo(marker.getPosition())
			}
		})(marker, i))
    google.maps.event.addListener(infowindow, 'closeclick', (function (marker, i) {
			return function () {
        map.panTo(new google.maps.LatLng(Number(Cookies.get('latitude')), Number(Cookies.get('longitude'))))
			}
		})(marker, i));
	}
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQiY_Y7FppE97RCXWWfxZc9leRlcmGz-o&callback=initMap"></script>
